/*	==================================
	COLOURS :: BRAND
=================================== */

/*
	BASE
	- The primary colour for the majority of text on the website.
*/

$base: #000;
$base-mid: lighten($base, 10%);
$base-light: lighten($base, 16%);
$base-lighter: lighten($base, 18%);
$base-near-white: lighten($base, 22%);

$base-font-color: $base;

/*
	BRAND
	- Key colours of the brand
*/

$brand-primary: #c30e2e;
$brand-secondary: #777;
$brand-tertiary: #efefef;

/*	==================================
	COLOURS :: BUTTONS
=================================== */

$button-primary: $brand-primary;
$button-primary-text: $brand-primary;
$button-primary--hover: $brand-primary;
$button-primary-text--hover: $brand-primary;

$button-secondary: $brand-secondary;
$button-secondary-text: $brand-secondary;
$button-secondary--hover: $brand-secondary;
$button-secondary-text--hover: $brand-secondary;

$button-tertiary: $brand-tertiary;
$button-tertiary-text: $brand-tertiary;
$button-tertiary--hover: $brand-tertiary;
$button-tertiary-text--hover: $brand-tertiary;


/*	==================================
	COLOURS :: FORMS
=================================== */

$alert-success: green;
$alert-warning: orange;
$alert-danger: red;
$alert-info: blue;

$form-bg: #fff;
$form-border: #efefef;

/*	==================================
	COLOURS :: GLOBAL NAVIGATION
=================================== */

$nav-bg: transparent;
$nav-link-text: $base;
$nav-link-text--hover: $base;
$nav-link-text--active: $base;

$nav-bg-off-canvas: $base;
$nav-link-text-off-canvas: #fff;
$nav-link-text-off-canvas--hover: $brand-primary;
$nav-link-text-off-canvas--active: $brand-primary;