/* ======================
	TYPE :: GLOBAL
====================== */

$sans-serif: 'Avenir', Helvetica Neue, Helvetica, Calibra, Arial, sans-serif;
$serif: 'Georgia', Times New Roman, serif;

$base-font-size: 16px;
$base-font: $sans-serif;
$base-line-height: 1.625;

/* ======================
	TYPE :: BUTTONS
====================== */

$button-base-font-size: $base-font-size;
$button-small-font-size: 0.75rem;
$button-large-font-size: 1.25rem;

$button-line-height: 1;