/*	==================================

	BASE

=================================== */

*
*:before,
*:after {
	// Padding now longer affects the width of an object
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	// Setting some defaults that shouldn't be adjusted
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: none;

	// Set your site wide defaults
	font: 500 $base-font-size $base-font;
	line-height: $base-line-height;
	color: $base-font-color;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}