/*	==================================

	CLEARFIX

=================================== */

.cf {
	*zoom: 1;

	&:before {
		content:"";
		display: table;
	}
	&:after {
		content:"";
		clear: both;
		display: table;
	}
}