/*	==================================

	FLOATS
	- Float elements on the fly and adjust at breakpoints
=================================== */

.float-left {
	float: left;

	@include respond-to-min(narrow) {
		&--nw {
			float: left;
		}
	}

	@include respond-to-min(small) {
		&--sm {
			float: left;
		}
	}

	@include respond-to-min(medium) {
		&--md {
			float: left;
		}
	}

	@include respond-to-min(large) {
		&--lg {
			float: left;
		}
	}

	@include respond-to-min(wide) {
		&--wd {
			float: left;
		}
	}
}

.float-right {
	float: right;

	@include respond-to-min(narrow) {
		&--nw {
			float: right;
		}
	}

	@include respond-to-min(small) {
		&--sm {
			float: right;
		}
	}

	@include respond-to-min(medium) {
		&--md {
			float: right;
		}
	}

	@include respond-to-min(large) {
		&--lg {
			float: right;
		}
	}

	@include respond-to-min(wide) {
		&--wd {
			float: right;
		}
	}
}