/* ======================
	ICONS

	- 	For small icon sets or custom ones it is best to inline the SVG
	- 	If it is a larger or often repeated icon set then best to convert
		it into a font icon set using icomoon.io
====================== */
