/* ======================
	VISIBILITY

	- Quickly hide elements on the fly using some
	with responsive classes
====================== */

.is-hidden {
	display: none;

	@include respond-to-min(narrow) {
		&--nw {
			display: none;
		}
	}

	@include respond-to-min(small) {
		&--sm {
			display: none;
		}
	}

	@include respond-to-min(medium) {
		&--md {
			display: none;
		}
	}

	@include respond-to-min(large) {
		&--lg {
			display: none;
		}
	}

	@include respond-to-min(wide) {
		&--wd {
			display: none;
		}
	}

}


.is-visible {
	display: block;

	@include respond-to-min(narrow) {
		&--nw {
			display: block;
		}
	}

	@include respond-to-min(small) {
		&--sm {
			display: block;
		}
	}

	@include respond-to-min(medium) {
		&--md {
			display: block;
		}
	}

	@include respond-to-min(large) {
		&--lg {
			display: block;
		}
	}

	@include respond-to-min(wide) {
		&--wd {
			display: block;
		}
	}

}