/* ======================

	CONTAINER

======================*/

.global-container {
	max-width: $global-container;
	margin-left: auto;
	margin-right: auto;
}

.global-inset {
	padding-left: $global-spacing;
	padding-right: $global-spacing;
}

.main-content {
	padding-top: 60px;
}