/* ======================
	GRIDS :: FLEXBOX
	This is useful when you need items to be of equal height
======================*/



.fx-grid {
	display: flex;
	flex-direction: column;
	padding-left: $global-spacing;
	padding-right: $global-spacing;
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;

	@include respond-to-min(medium) {
		flex-direction: row;
	}
}

.fx-column {
	display: block;
	flex: 1 1 auto;
	max-width: 100%;
	width: 100%;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
}

// Fifth
.fx-column-w-1-5 {
	flex: 0 0 20%;
	max-width: 20%;
}

.fx-column-w-2-5 {
	flex: 0 0 40%;
	max-width: 40%;
}

.fx-column-w-3-5 {
	flex: 0 0 60%;
	max-width: 60%;
}

// Quarter
.fx-column-w-1-4 {
	flex: 0 0 25%;
	max-width: 25%;
}

.fx-column-w-3-4 {
	flex: 0 0 75%;
	max-width: 75%;
}

// Third
.fx-column-w-1-3 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.fx-column-w-2-3 {
	flex: 0 0 66.666666%;
	max-width: 66.666666%;
}

// Half
.fx-column-w-1-2 {
	flex: 0 0 50%;
	max-width: 50%;
}

