/* ======================
	GRIDS
	- There are two types of grids available
	1. Standard - the standard grid system uses display: inline-block and is the more traditional method
	2. Flexbox - uses flexbox to control the grid - see flex-grid.scss
======================*/

.grid {
	margin-left: -$grid-gutter;
	margin-right: -$grid-gutter;
}

.column {
	display: inline-block;
	padding-left: $grid-gutter;
	padding-right: $grid-gutter;
	vertical-align: top;
	width: 100%;
}

// Quick Grid

.columns-2 .column {
	width: 50%;
}

.columns-3 .column {
	width: 33.33333333%;
}

.columns-4 .column {
	width: 25%;
}

.columns-5 .column {
	width: 20%;
}

// Specific Grid Widths

.column-w-1-2 {
	width: 50%;
}

.column-w-1-3 {
	width: 33%;
}

.column-w-2-3 {
	width: 67%;
}

.column-w-1-4 {
	width: 25%;
}

.column-w-3-4 {
	width: 75%;
}

.column-w-1-5 {
	width: 20%;
}

.column-w-2-5 {
	width: 40%;
}

.column-w-3-5 {
	width: 60%;
}

.column-w-4-5 {
	width: 80%;
}

@include respond-to-min(narrow) {

	// Quick Grid

	.columns-2--nw .column {
		width: 50%;
	}

	.columns-3--nw .column {
		width: 33.33333333%;
	}

	.columns-4--nw .column {
		width: 25%;
	}

	.columns-5--nw .column {
		width: 20%;
	}

	// Specific Grid Widths

	.column-w-1-2--nw {
		width: 50%;
	}

	.column-w-1-3--nw {
		width: 33%;
	}

	.column-w-2-3--nw {
		width: 67%;
	}

	.column-w-1-4--nw {
		width: 25%;
	}

	.column-w-3-4--nw {
		width: 75%;
	}

	.column-w-1-5--nw {
		width: 20%;
	}

	.column-w-2-5--nw {
		width: 40%;
	}

	.column-w-3-5--nw {
		width: 60%;
	}

	.column-w-4-5--nw {
		width: 80%;
	}

}

@include respond-to-min(small) {

	// Quick Grid

	.columns-2--sm .column {
		width: 50%;
	}

	.columns-3--sm .column {
		width: 33.33333333%;
	}

	.columns-4--sm .column {
		width: 25%;
	}

	.columns-5--sm .column {
		width: 20%;
	}

	// Specific Grid Widths

	.column-w-1-2--sm {
		width: 50%;
	}

	.column-w-1-3--sm {
		width: 33%;
	}

	.column-w-2-3--sm {
		width: 67%;
	}

	.column-w-1-4--sm {
		width: 25%;
	}

	.column-w-3-4--sm {
		width: 75%;
	}

	.column-w-1-5--sm {
		width: 20%;
	}

	.column-w-2-5--sm {
		width: 40%;
	}

	.column-w-3-5--sm {
		width: 60%;
	}

	.column-w-4-5--sm {
		width: 80%;
	}

}

@include respond-to-min(medium) {

	// Quick Grid

	.columns-2--md .column {
		width: 50%;
	}

	.columns-3--md .column {
		width: 33.33333333%;
	}

	.columns-4--md .column {
		width: 25%;
	}

	.columns-5--md .column {
		width: 20%;
	}

	// Specific Grid Widths

	.column-w-1-2--md {
		width: 50%;
	}

	.column-w-1-3--md {
		width: 33%;
	}

	.column-w-2-3--md {
		width: 67%;
	}

	.column-w-1-4--md {
		width: 25%;
	}

	.column-w-3-4--md {
		width: 75%;
	}

	.column-w-1-5--md {
		width: 20%;
	}

	.column-w-2-5--md {
		width: 40%;
	}

	.column-w-3-5--md {
		width: 60%;
	}

	.column-w-4-5--md {
		width: 80%;
	}

}

@include respond-to-min(large) {

	// Quick Grid

	.columns-2--lg .column {
		width: 50%;
	}

	.columns-3--lg .column {
		width: 33.33333333%;
	}

	.columns-4--lg .column {
		width: 25%;
	}

	.columns-5--lg .column {
		width: 20%;
	}

	// Specific Grid Widths

	.column-w-1-2--lg {
		width: 50%;
	}

	.column-w-1-3--lg {
		width: 33%;
	}

	.column-w-2-3--lg {
		width: 67%;
	}

	.column-w-1-4--lg {
		width: 25%;
	}

	.column-w-3-4--lg {
		width: 75%;
	}

	.column-w-1-5--lg {
		width: 20%;
	}

	.column-w-2-5--lg {
		width: 40%;
	}

	.column-w-3-5--lg {
		width: 60%;
	}

	.column-w-4-5--lg {
		width: 80%;
	}

}

@include respond-to-min(wide) {

	// Quick Grid

	.columns-2--wd .column {
		width: 50%;
	}

	.columns-3--wd .column {
		width: 33.33333333%;
	}

	.columns-4--wd .column {
		width: 25%;
	}

	.columns-5--wd .column {
		width: 20%;
	}

	// Specific Grid Widths

	.column-w-1-2--wd {
		width: 50%;
	}

	.column-w-1-3--wd {
		width: 33%;
	}

	.column-w-2-3--wd {
		width: 67%;
	}

	.column-w-1-4--wd {
		width: 25%;
	}

	.column-w-3-4--wd {
		width: 75%;
	}

	.column-w-1-5--wd {
		width: 20%;
	}

	.column-w-2-5--wd {
		width: 40%;
	}

	.column-w-3-5--wd {
		width: 60%;
	}

	.column-w-4-5--wd {
		width: 80%;
	}

}