/* ======================

	TYPOGRAPHY :: HEADINGS
	- apply these classes to headings for copy only
	-

======================*/

.f1 {
	font-size: $f1;
}

.f2 {
	font-size: $f2;
}

.f3 {
	font-size: $f3;
}

.f4 {
	font-size: $f4;
}

.f5 {
	font-size: $f5;
	line-height: 1.25;
}

.f6 {
	font-size: $f6;
}

.f7 {
	font-size: $f7;
}

.f8 {
	font-size: $f8;
}


.headline {
	font-size: $f-headline;
}

.sub-heading {
	font-size: $f-subheadline;
}