/* ======================
	SETTINGS
	- Variables
	- Mixins
======================*/

@import
'settings/settings-breakpoints',
'settings/settings-motion',
'settings/settings-spacing',
'settings/settings-width',
'settings/settings-type';

/* ======================
	THEMES
	- Adjust the particular colours and font for the project
======================*/

@import
'theme/theme-colours',
'theme/theme-type';

/* ======================
	UTILITIES
	- Base styles and utility classes
======================*/

@import
'utilities/normalize',
'utilities/base',
'utilities/clearfix',
'utilities/float',
'utilities/visibility';

/* ======================
	OBJECTS
	- Layout objects that shape a page
======================*/

@import
'objects/container',
'objects/flag',
'objects/grid',
'objects/flex-grid',
'objects/typography';

/* ======================
	COMPONENTS
	- Reusable components that work independent of each other
======================*/

@import
'components/buttons',
'components/form',
'components/header',
'components/footer',
'components/logo',
'components/navigation';
