/* ======================

	BUTTONS

======================*/


// Set the default style for buttons
.btn {
	line-height: $button-line-height;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	// Remove some janky styling
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 20px;

}

.btn__primary {
	background-color: $button-primary;
	color: #fff;
	position:relative;
	overflow: hidden;

	.btn-text {
		position: relative;
		z-index: 5;
	}

	&:before {
		content: "";
		background-color: darken($button-primary, 5%);
		height: 400%;
		width: 100%;
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 115px;
		transform: rotate(45deg);
		transition: all .5s $cubic-bezier;
	}

	&:hover {
		background-color: $button-primary--hover;
		color: #ffffff;

		&:before {
			top: -105px;
			left: 0;
		}
	}

	&--o { // Outline version of the button
		background-color: rgba($button-primary,0);
		border: 2px solid $button-primary;
		color: $button-primary;

		&:hover {
			background-color: rgba($button-primary,1);
			color: $button-primary-text--hover;
		}
	}

	&--link { // Link version of the button
		color: $button-primary;
	}
}

.btn__secondary {
	background-color: $button-secondary;
	color: $button-secondary-text;

	&:hover {
		background-color: $button-secondary--hover;
		color: $button-secondary-text--hover;
	}

	&--o { // Outline version of the button
		background-color: rgba($button-secondary,0);
		border: 2px solid $button-secondary;
		color: $button-secondary;

		&:hover {
			background-color: rgba($button-secondary,1);
			color: $button-secondary-text--hover;
		}
	}

	&--link { // Link version of the button
		color: $button-secondary;
	}
}

.btn__tertiary {
	background-color: $button-tertiary;
	color: $button-tertiary-text;

	&:hover {
		background-color: $button-tertiary--hover;
		color: $button-tertiary-text--hover;
	}

	&--o { // Outline version of the button
		background-color: rgba($button-tertiary,0);
		border: 2px solid $button-tertiary;
		color: $button-tertiary;

		&:hover {
			background-color: rgba($button-tertiary,1);
			color: $button-tertiary-text--hover;
		}
	}

	&--link { // Link version of the button
		color: $button-tertiary;
	}
}


/* ======================
	BUTTONS :: SIZES
	- Use these utility classes to adjust the size of the button
======================*/

.is-small {
	padding: 8px 16px;
}

.is-medium {
	padding: 12px 24px;
}

.is-large {
	padding: 24px 40px;
}

@include respond-to-min(small) {
	.is-small--sm {
		padding: 8px 16px;
	}

	.is-medium--sm {
		padding: 12px 24px;
	}

	.is-large--sm {
		padding: 24px 40px;
	}
}

@include respond-to-min(medium) {
	.is-small--md {
		padding: 8px 16px;
	}

	.is-medium--md {
		padding: 12px 24px;
	}

	.is-large--md {
		padding: 24px 40px;
	}
}

@include respond-to-min(large) {
	.is-small--lg {
		padding: 8px 16px;
	}

	.is-medium--lg {
		padding: 12px 24px;
	}

	.is-large--lg {
		padding: 24px 40px;
	}
}