/* ======================

	HEADER

======================*/

.global-header {
	// Styles
	background-color: #fff;
	height: 60px;

	// Breakpoints
	@include respond-to-min(large) {
		height: auto;
	}

	// States

	&.is-scrolling {

	}

	&.is-fixed {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 25;
	}

	&--sidebar {

	}

	&__wrap {
		max-width: $global-container;
		margin-left: auto;
		margin-right: auto;
		padding-top: 17px;
	}
}