/* ======================

	SPACING
	- There are two ways of adding spacing
		1. Use the variables in 'settings / settings-spacing.scss ', adding what you need to each component you create
		2. Or use the component classes below

======================*/

// PADDING :: ALL

.p-a-0 {
	padding: 0;
}

.p-a-b {
	padding: $spacing-base;
}

.p-a-1 {
	padding: $spacing-xs;
}

.p-a-2 {
	padding: $spacing-sm;
}

.p-a-3 {
	padding: $spacing-md;
}

.p-a-4 {
	padding: $spacing-lg;
}

.p-a-5 {
	padding: $spacing-xlg;
}

.p-a-6 {
	padding: $spacing-xxlg;
}

.p-a-7 {
	padding: $spacing-jumbo;
}

.p-a-8 {
	padding: $spacing-uber;
}

// PADDING :: TOP

.p-t-0 {
	padding: 0;
}

.p-t-b {
	padding: $spacing-base;
}

.p-t-1 {
	padding: $spacing-xs;
}

.p-t-2 {
	padding: $spacing-sm;
}

.p-t-3 {
	padding: $spacing-md;
}

.p-t-4 {
	padding: $spacing-lg;
}

.p-t-5 {
	padding: $spacing-xlg;
}

.p-t-6 {
	padding: $spacing-xxlg;
}

.p-t-7 {
	padding: $spacing-jumbo;
}

.p-t-8 {
	padding: $spacing-uber;
}

// PADDING :: RIGHT

.p-r-0 {
	padding: 0;
}

.p-r-b {
	padding: $spacing-base;
}

.p-r-1 {
	padding: $spacing-xs;
}

.p-r-2 {
	padding: $spacing-sm;
}

.p-r-3 {
	padding: $spacing-md;
}

.p-r-4 {
	padding: $spacing-lg;
}

.p-r-5 {
	padding: $spacing-xlg;
}

.p-r-6 {
	padding: $spacing-xxlg;
}

.p-r-7 {
	padding: $spacing-jumbo;
}

.p-r-8 {
	padding: $spacing-uber;
}

// PADDING :: BOTTOM

.p-b-0 {
	padding: 0;
}

.p-b-b {
	padding: $spacing-base;
}

.p-b-1 {
	padding: $spacing-xs;
}

.p-b-2 {
	padding: $spacing-sm;
}

.p-b-3 {
	padding: $spacing-md;
}

.p-b-4 {
	padding: $spacing-lg;
}

.p-b-5 {
	padding: $spacing-xlg;
}

.p-b-6 {
	padding: $spacing-xxlg;
}

.p-b-7 {
	padding: $spacing-jumbo;
}

.p-b-8 {
	padding: $spacing-uber;
}

// PADDING :: LEFT

.p-l-0 {
	padding: 0;
}

.p-l-b {
	padding: $spacing-base;
}

.p-l-1 {
	padding: $spacing-xs;
}

.p-l-2 {
	padding: $spacing-sm;
}

.p-l-3 {
	padding: $spacing-md;
}

.p-l-4 {
	padding: $spacing-lg;
}

.p-l-5 {
	padding: $spacing-xlg;
}

.p-l-6 {
	padding: $spacing-xxlg;
}

.p-l-7 {
	padding: $spacing-jumbo;
}

.p-l-8 {
	padding: $spacing-uber;
}