/* ======================
	TYPE SCALE
======================*/

$f1: 0.875rem;
$f2: 1rem;
$f3: 1.25rem;
$f4: 1.5rem;
$f5: 2rem;
$f6: 2.25rem;
$f7: 2.5rem;
$f8: 3rem;

$f-subheadline: 3.5rem;
$f-headline: 4rem;

/* ======================
	LINE HEIGHT
======================*/

$lh-solid: 			1;
$lh-title: 			1.3;
$lh-copy: 			1.625;

/* ======================
	TRACKED
======================*/

$tracked-base: 		1px;
$tracked-tight: 	-0.05rem;
$tracked-mega: 		0.32rem;