/*	==================================
	WIDTHS :: MAX WIDTHS
=================================== */

$global-container: 87.5rem;

$mw-sm: 60rem;
$mw-md: 40rem;
$mw-lg: 75rem;

/*	==================================
	WIDTHS :: FLUID
=================================== */

$full: 				100%;
$half: 				50%;
$one-third: 		33.33%;
$two-thirds: 		66.66%;
$one-fifth: 		20%;
$two-fifths: 		40%;
$three-fifths: 		60%;
$four-fifths: 		80%;
$one-quarter: 		25%;
$three-quarters: 	75%;