/*	==================================
	MOTION
=================================== */

$snappy: 0.16s;
$fast: 0.32s;
$slow: 0.85s;

$cubic-bezier: cubic-bezier(0.16,1,0.24,1);

$cubic-bezier--intro: cubic-bezier(0.16,1,0.24,1);

$cubic-bezier--outro: cubic-bezier(0.54,0.08,0.88,0.4);