/* ======================

	SPACING

======================*/

$global-spacing: 1rem;

$spacing-base: 1rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xlg: 3rem;
$spacing-xxlg: 4rem;
$spacing-jumbo: 5rem;
$spacing-uber: 8rem;

/* ======================

	GRIDS

======================*/

$grid-gutter: $global-spacing;