/*	==================================
	BREAKPOINTS
=================================== */

// Narrow
$narrow: 			22.5rem; //360
// Small
$small: 			30rem; // 480
// Medium
$medium: 			45rem; // 720
// Large
$large: 			60rem; // 960
// Wide
$wide: 				75rem; // 1200
// Ultra Wide
$uwide: 			100rem; // 1600
// Jumbo
$jumbo:				120rem;

// Minimum Screen Width
@mixin respond-to-min($screen) {
	@if $screen == narrow {
		@media only screen and (min-width: $narrow) {
			@content;
		}
	} @else if $screen == small {
		@media only screen and (min-width: $small) {
			@content;
		}
	} @else if $screen == medium {
		@media only screen and (min-width: $medium) {
			@content;
		}
	} @else if $screen == large {
		@media only screen and (min-width: $large) {
			@content;
		}
	} @else if $screen == wide {
		@media only screen and (min-width: $wide) {
			@content;
		}
	} @else if $screen == uwide {
		@media only screen and (min-width: $uwide) {
			@content;
		}
	} @else if $screen == jumbo {
		@media only screen and (min-width: $jumbo) {
			@content;
		}
	}
}

// Maximum Screen Width
@mixin respond-to-max($screen) {
	@if $screen == narrow {
		@media only screen and (max-width: $narrow - 1) {
			@content;
		}
	} @else if $screen == small {
		@media only screen and (max-width: $small - 1) {
			@content;
		}
	} @else if $screen == medium {
		@media only screen and (max-width: $medium - 1) {
			@content;
		}
	} @else if $screen == large {
		@media only screen and (max-width: $large - 1) {
			@content;
		}
	} @else if $screen == wide {
		@media only screen and (max-width: $wide - 1) {
			@content;
		}
	} @else if $screen == uwide {
		@media only screen and (max-width: $uwide - 1) {
			@content;
		}
	}
}